<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testing_system</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="format_sql">true</property>
  <mapping class="model.Account"/>
  <mapping class="model.AccountRoleMap"/>
  <mapping class="model.Figurelink"/>
  <mapping class="model.Lecturer"/>
  <mapping class="model.Permission"/>
  <mapping class="model.Question"/>
  <mapping class="model.Questionfigure"/>
  <mapping class="model.Questioninfo"/>
  <mapping class="model.Questionitem"/>
  <mapping class="model.Questioniteminfo"/>
  <mapping class="model.Questionitemfigure"/>
  <mapping class="model.Questionowner"/>
  <mapping class="model.Questionsolution"/>
  <mapping class="model.Questiontopic"/>
  <mapping class="model.Role"/>
  <mapping class="model.RolePermissionMap"/>
  <mapping class="model.Sharedquestion"/>
  <mapping class="model.Squestionsolution"/>
  <mapping class="model.Student"/>
  <mapping class="model.Studentsolution"/>
  <mapping class="model.Studenttestmap"/>
  <mapping class="model.Subject"/>
  <mapping class="model.Subjectandtopic"/>
  <mapping class="model.Subjectassignment"/>
  <mapping class="model.Test"/>
  <mapping class="model.Testreview"/>
  <mapping class="model.Testsection"/>
  <mapping class="model.Testsectionitem"/>
  <mapping class="model.Tfigurelink"/>
  <mapping class="model.Topic"/>
  <mapping class="model.Tquestion"/>
  <mapping class="model.Tquestionfigure"/>
  <mapping class="model.Tquestioninfo"/>
  <mapping class="model.Tquestionitem"/>
  <mapping class="model.Tquestionitemfigure"/>
  <mapping class="model.Tquestioniteminfo"/>
  <mapping class="model.Tquestionowner"/>
  <mapping class="model.Tquestionsolution"/>
  <mapping class="model.Tquestiontopic"/>
  <mapping class="model.User"/>
  <mapping class="model.Logs"/>
 </session-factory>
</hibernate-configuration>
