<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- <appender name="ROOT_APPENDER" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout"> <param name="ConversionPattern"
		value="%m%n" /> </layout> </appender> -->

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="DB" />
	</appender>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %-5p %c{2} - %m%n" />
		</layout>
	</appender>

	<additivity class="controller" value="true" />

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/log/TestingSystem.log" />
		<param name="MaxFileSize" value="1MB" />
		<param name="Threshold" value="ALL" />
		<param name="datePattern" value="'.'yyyy-MM-dd" />
		<param name="MaxBackupIndex" value="1" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p][%c] - %m%n" />
		</layout>
	</appender>

	<appender name="DB" class="org.apache.log4j.jdbc.JDBCAppender">
		<param name="URL" value="jdbc:mysql://localhost:3306/testsys_dba" />
		<param name="driver" value="com.mysql.jdbc.Driver" />
		<param name="user" value="root" />
		<param name="password" value="admin" />
		<param name="Threshold" value="INFO" />
		<param name="sql"
			value="INSERT INTO LOGS VALUES(NULL,'%X{AccId}',
                             '%d{yyyy-MM-dd HH:mm:ss}','%C','%p','%m')" />
	</appender>

	<root>
	<!-- 	<appender-ref ref="STDOUT" />  -->
		<appender-ref ref="FILE" />
		<appender-ref ref="DB" />
	</root>

	<!-- logger package com.mycorp.project.first -->
	<logger name="controller">
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
	</logger>

</log4j:configuration>
